@require '../mixins/content-box.styl'

.archive

  .content
    content-box()

    h3
      margin 0 0 5px 0

      a
        color: $headerColor
        font inherit

    .download-link
      font-weight bold
      font-size 1rem