@require '../mixins/content-box.styl'

.archive

  .content
    content-border-box()

    h2
      margin 0 0 5px 0

    .download-link
      text-transform uppercase
      font-weight bold
      font-size 1rem