<script>
    var _gap = _gap || [];

    // Standard Google Analytics pushes, just with _gap.push.
    _gap.push(['_setAccount', 'UA-57034106-1']);
    _gap.push(['_trackPageview']);

    // With both bounce trackers active, any user who scrolls down 50% OR
    // stays 10 seconds is not counted as a bounce. You can use just one, or none.
    _gap.push(['_gapTrackBounceViaTime', 10]);
    _gap.push(['_gapTrackBounceViaScroll', 50]);

    // Every 20 seconds, push a read event so that time on site is more accurate.
    // Only allow 30 of these read events per page.
    _gap.push(['_gapTrackReads', 20, 30]);

    // Anytime a user clicks a link, internal or external, push the event.
    _gap.push(['_gapTrackLinkClicks']);

    // Push the maximum percentage scrolled.
    _gap.push(['_gapTrackMaxScroll', 25]);
</script>