@require './border-radius.styl'
@require './colors.styl'

content-border-box()
  border 3px solid $contrast
  border-radius(10px)
  padding 20px
  margin-top 15px
  font-weight 300

content-box()
  padding-bottom: 15px
  border-bottom 1px solid $contrast
  &:last-child
    border-bottom none