@require '../mixins/colors.styl'
@require '../mixins/size.styl'
@require '../mixins/border-radius.styl'

.gravatar
  border 2px solid $headerColor
  border-radius(100px)
  padding 2px
  margin 10px
  size(75px)